h1{
    color:black;
    font-style: italic;
}

button{
    background-color: green;
    color: aliceblue;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

P{
    color: cornflowerblue;
}